.backend-login{
	background: #eaeaec url(../images/logo_large.png) center 4.5em no-repeat;
}

#container-login{
	margin: 15em 10px 0;
}

#container-login h1{
	color: #990100;
	margin-bottom: 0.5em;
	font-size: 30px;
	text-align:left;
}

.formbody-login{
	padding: 45px;
}

#main {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 2px;
}

.widget {
    margin: 0;
}

label[for=username] {
    position: absolute;
    top: 400px;
    right: 475px;
    background-size: 16px;
    width: 16px;
    height: 20px;
    text-indent: -999em;
}

label[for=password], label[for=confirm] {
    position: absolute;
    top: 10px;
    right: 475px;
    background-size: 15px;
    width: 14px;
    height: 20px;
    text-indent: -999em;
}

input[type="password"]{
	border-radius: 15px;
    font-style: italic;
    border: 1px solid #0076a3;
    padding: 8px;
    font-size: 12px;
}

#username {
    border-radius: 15px;
}

.tl_text{
	width: 100%;
	margin: 3px 0;
	box-sizing: border-box;
	padding: 5px 6px 6px;
	border: 1px solid #aaa;
	border-radius: 15px !important;
}

.tl_number{
	width: 8%;
	margin: 3px 0;
	box-sizing: border-box;
	padding: 5px 6px 6px;
	border: 1px solid #aaa;
	border-radius: 15px !important;
}

.lgsClassInput{
	display: -webkit-box;   
  	display: -moz-box;  
  	display: -ms-flexbox; 
  	display: -webkit-flex; 
  	display: flex;
  	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.lgsClass{
	display: -webkit-box;   
  	display: -moz-box;  
  	display: -ms-flexbox; 
  	display: -webkit-flex; 
  	display: flex;
  	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.tl_submit{
	padding: 7px 12px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    width: 5%;
}

.tl_button:hover{
	background: linear-gradient(#0095cc,#00678e);
}

.tl_button{
	margin: 3px 0;
	box-sizing: border-box;
	padding: 5px 6px 6px;
	border: 1px solid #aaa;
	border-radius: 15px !important;
}

.tl_submit#createLgs{
	float: right;
    cursor: pointer;
    background: linear-gradient(#00adee,#0078a5);
    padding: 7px 12px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-sizing: border-box;
    font-size:12px;
    color: #fff;
}

#createLgs{
	margin-left: 20px;
    width: 10%;
}

.submit_container{
	margin-top: 12px;
}

.submit_container a{
	float: right;
    cursor: pointer;
    background: linear-gradient(#00adee,#0078a5);
    padding: 7px 12px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-sizing: border-box;
    font-size:12px;
    color: #fff;
}

.submit_container a:hover{
	color: white;
	background: #0078a5;
}

#serviceBox{
	position: absolute;
    right: 45px;
    top: 10px;
    z-index: 1001;
}

#serviceBox li {
    margin-left: 15px;
    list-style: none outside none;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#mainLogo{
	margin: 0px 0px 8px 25px;
    max-width: 500px;
    min-height: 45px;
    cursor: pointer;
	
}

.dooBtn {
    height: 30px;
    width: 40px;
    border-left:1px solid #0076a3;
    position:relative;
    border-radius: 15px 15px 15px 15px;
}

#dooIcon {
   	padding:3px;
   	margin:-10px;
}

.errormassage{
	margin-top: 12px;
}

.headerPanel {
    min-height: 75px;
    width: 100%;
    min-width: 980px;
    background: #8dcbbb;
    float: left;
    margin-top:-20px;
}

#objectHeader{
	float: left; 
	width: 61%; 
	margin-left: 10px; 
	margin-top: 37px;
}

#objectHeaderWizard{
	float: left; 
	width: 61%; 
	margin-left: 10px; 
	margin-top: 35px;
}

#newObject{
	margin-left: 20px; 
	margin-top: 21px;
	border-left:1px solid #0076a3;
	width: 130px;
	border-radius: 15px 15px 15px 15px;
	font-size:14px;
}

#saveObject{
	margin-left: 20px; 
	border-left:1px solid #0076a3;
	width: 8%;
}

#objectIcon{
	width: 40px; 
	height: 40px; 
	float: left; 
	margin-left: 40px; 
	margin-top: 25px;
	font-size:40px
}

.wizardRow{
	padding: 0px 20px;
	margin: 30px 0px;
}

.wizardRowTitle{
	font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.wizardRowInner {
	border: 1px solid #ddd;
    padding: 15px;
    font-size: 14px;
}

.redThorben{
	background-color: #701718;
	color:#FFFFFF;
}

.ob_title_datacolumn_on {
    min-width: 20px;
    font-size: 18px;
    width:300px;
    text-align:center;
}

.obTableHeader th, ob3TableHeader th{
	border-left: transparent;
}

.obTableHeader th {
    padding: 6px;
    line-height: 12px;
    font-style: normal;
    font-weight: normal;
}

#objectBrowserDataTableDiv {
    min-width: 500px;
    padding: 30px 10px 0px 10px !important;
}

.ob_row{
	text-align:center;
	font-size: 16px;
}

.errorlogin {
	position: relative;
	top:40px; 
	width:260px;
	background-color:#dc3545;
	border-radius: 15px;
	padding-left:15px;
	white-space: nowrap;
}

input[type="text"]#teaser {
	border-radius:15px 15px 15px 15px;
}
input[type="text"]#title {
	border-radius:15px 15px 15px 15px;
}
textarea#text{
	border-radius: 15px 15px 15px 15px;
	font-style: italic;
    border: 1px solid #0076a3;
    padding: 8px;
}
textarea#teaser{
	border-radius: 15px 15px 15px 15px;
	font-style: italic;
    border: 1px solid #0076a3;
    padding: 8px;
}
textarea#beschreibung{
	border-radius: 15px 15px 15px 15px;
	font-style: italic;
    border: 1px solid #0076a3;
    padding: 8px;
}

.linkButton {
    color: #ffffff;
    border: 1px solid;
    text-transform: uppercase;
    border-color: #a00403 #870403 #6e0302;
    border-radius: 15px;
    font-size: 18px;
    padding: 0.64286em 1.42857em;
    background: linear-gradient(rgb(202, 0, 0), #721403);
}

.linkButton:hover{
	color:#ffffff; 
	background: linear-gradient( #6e0302, #aa0504);
}